<!DOCTYPE html>
<html lang="es" id="app">
<head>
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scallable=no">
	<title>Vehi-car</title>
	<!-- TIPO -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
	<!-- FONTAWESOME -->
	<link rel="stylesheet" href="resources/css/linearicons.css">
	<!-- BOOTSTRAP CSS -->
	<link rel="stylesheet" href="resources/bootstrap/css/bootstrap.css">
	<!-- ANIMATIONS -->
	<link rel="stylesheet" type="text/css" href="resources/css/animations.css">
	<!-- OWN STYLES -->
	<link rel="stylesheet" type="text/css" href="resources/css/style.css">
	<link rel="icon" type="image/png" sizes="32x32" href="resources/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="resources/img/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="resources/img/favicon-16x16.png">
</head>
<body>
	
	<header>
		<div class="logo col-md-3 col-lg-2">
			<img src="resources/img/logo.png">
		</div>
		<div class="info col-md-9 col-lg-10">
			<div class="pull-right">
				<div id="user-info" data-type="togglePop" onclick="togglePopOver('#minimenu', '#user-info')">
					<span id="user-name">Cristian Rincón</span>
					<img src="" id="user-img" />
					<span id="user-menu-btn" class="icon-chevron-down"></span>
				</div>
			</div>
		</div>
	</header>
	<div id="minimenu" class="popOver md animated">
		<h4>Menú</h4>
		<span class="icon-cross-circle dismiss" onclick="togglePopOver('#minimenu', '#user-info')"></span>
		<div class="divider"></div>
		<ul class="minimenu">
			<a href="perfil.html">
				<li><span class="icon-user"></span> Perfil</li>
			</a>
			<a href="login.html">
				<li><span class="icon-power-switch"></span> Cerrar sesión</li>
			</a>
		</ul>
	</div>

	<div class="container-fluid" id="menu-wrapper">
		<div class="row" id="wrapper-inner">
			<aside class="col-md-3 col-lg-2" id="side-menu">
				<ul id="menu-container">
					<a href="#">
						<li class="menu-element active">
							<span class="icon-home"></span>
							Inicio
						</li>
					</a>
					<a href="">
						<li class="menu-element">
							<span class="icon-plus-circle"></span>
							Facturación
						</li>
					</a>
					<a href="">
						<li class="menu-element">
							<span class="icon-pencil4"></span>
							Administración
						</li>
					</a>
					<a data-toggle="collapse" href="#admin">
						<li class="menu-element">
							<span class="icon-plus-circle"></span>
							Dropdown 
							<span class="icon-chevron-down"></span>
						</li>
					</a>
					<div id="admin" class="collapse dropdown">
						<a href="">
							<li class="menu-element">
								<span class="icon-user"></span>
								Elemento
							</li>
						</a>
						<a href="">
							<li class="menu-element">
								<span class="icon-joystick"></span>
								Otro elemento
							</li>
						</a>
					</div>
				</ul>
			</aside>
			<section class="col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2" id="main-container">
				<div class="container col-md-12">


					<div class="box col-md-12">
						<div class="box-content col-sm-12">
							<div class="box-header text-center">
								<h1>Base de tabla</h1>
								<div class="search-bar">
									<input id="search-input" placeholder="Buscar">
									<button class="xs"><span class="icon-magnifier"></span></button>
								</div>
							</div>
							<div class="box-body">
								<table class="col-sm-12 text-center">
									<tbody>
										<tr class="col-sm-12 table-header">
											<th class="col-sm-1 text-center">ID</th>
											<th class="col-sm-3 text-center">Nombre</th>
											<th class="col-sm-2 text-center">Área</th>
											<th class="col-sm-2 text-center">Fecha de entrega</th>
											<th class="col-sm-2 text-center">Costo</th>
											<th class="col-sm-2 text-center">Estado</th>
										</tr>
										<tr class="col-sm-12" >
											<td class="col-sm-1 task-id">36</td>
											<td class="col-sm-3 task-user">Cristian Rincón</td>
											<td class="col-sm-2 task-area">Revisión tecnicomecánica</td>
											<td class="col-sm-2 task-date">2017-08-02 15:36</td>
											<td class="col-sm-2 task-cost">$45.898</td>
											<td class="col-sm-2 task-status">
												<a class="MyDiv" div="formularios" action="{% url 'entidades_formulario' %}?id_entidad={{ entidad.id }}&page={{ entidades.number }}" onClick="toggleElement('formsBar')" data-toggle="button" data-element="formsBar" data-tooltip="tooltip" title="Editar">
													<span class="icon-pencil5"></span>
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>							
						</div>
					</div>


				</div>
			</section>
			<div class="animated hidden container col-xs-3 ignore" id="form-bar" data-toggle="target" data-element="formsBar">
				<span class="icon-cross-circle btn-close" onClick="hideToggleElement('formsBar')"></span>
			</div>
		</div>
	</div>


	<!-- JQUERY -->
	<script src="resources/js/jquery.min.js"></script>
	<!-- BOOTSTRAP JS -->
	<script src="resources/bootstrap/js/bootstrap.min.js"></script>
	<!-- MODERNIZR -->
	<script type="text/javascript" src="resources/js/modernizr.js"></script>
	<!-- APPEAR -->
	<script type="text/javascript" src="resources/js/jquery.appear.js"></script>
	<!-- EASING -->
	<script type="text/javascript" src="resources/js/jquery.easing.min.js"></script>
	<!-- FONTAWESOME -->
	<script src="https://use.fontawesome.com/869b7e6030.js"></script>
	<!-- OWN JS -->
	<script src="resources/js/main.js"></script>
</body>
</html>