html {
	height:100%;
}

body {
	font-family:"Open Sans", sans-serif;
	color:#282828;
	width:100%;
	min-height: 100%;
	position: relative;
}

::-webkit-scrollbar-track {
  margin:10px;
  border-radius: 10px;
  background-color: #d3d3d3;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #b4b4b4;
}

h1 {
	font-weight:700;
	display:inline-block;
	font-size:3em;
}

h2 {

}

h3 {
	font-weight:700;
}

h2, h3 {
	margin-top:0;
}

a {
	text-decoration:none !important;
	color:#173f73;
}

a:hover {
	color:#173f73;
	cursor:pointer;
}

button {
	border:none;
	outline:none;
	background:#173f73;
	color:#FFF;
	text-transform:uppercase;
	font-weight:bold;
	padding:10px 20px;
	transition:all ease 0.2s;
	text-align:center;
	border-radius:5px;
	min-width:150px;
	font-size:1.2em;
}

a.button {
	display:block;
	border:none;
	outline:none;
	background:#173f73;
	color:#FFF;
	text-transform:uppercase;
	font-weight:bold;
	padding:10px 20px;
	transition:all ease 0.2s;
	text-align:center;
	border-radius:5px;
	min-width:150px;
	font-size:1.2em;
	margin:0 auto;
}

button:hover {
	background:#123159;
}

button.cancel {
	background:red;
}

button.gray {
	background:gray;
}

button.white {
	background:white;
	color:#173f73;
}

button.white:hover {
	background:#e4e4e4;
}

button.lil {
	border-radius:5px;
	font-size:1em;
	padding:6px 15px;
	line-height:20px;
}

button.xs {
	border-radius:5px;
	font-size:1em;
	padding:6px 5px;
	line-height:20px;
	display:inline-block;
	min-width:40px;
}

.button.lil {
	border-radius:5px;
	font-size:1em;
	padding:6px 15px;
	line-height:20px;
}

.button.fb {
	background:#4267b2;
}

.button.fb:hover {
	background:#395999;
}

a.more {
	font-weight:700;
}

.object-non-visible {
	opacity:0;
}

.object-visible, .touch .object-non-visible {
	opacity:1;
}

/* ===== */

.login-container {
	width:100%;
	height:100vh;
	background:url('../img/login-bg.jpg');
}

.head-icon {
	position:relative;
	bottom:30px;
	border-radius:50%;
	border:solid 3px white;
	display:block;
	height:40px;
	width:40px;
	margin:0 auto;
	text-align:center;
	line-height:40px;
	background:red;
}

.head-icon span {
	font-size:1.6em;
	color:#FFF;
}

/* ===== */

header {
	position:fixed;
	top:0;
	left:0;
	background:white;
	height:60px;
	width:100%;
	z-index:100;
}

header .logo {
	background:#173f73;
	height:100%;
	text-align:center;
	line-height:60px;
}

header .logo img {
	height:40px;
	vertical-align:middle;
}

header .info {
	height:60px;
	line-height:60px;
}

header #notifications-btn {
	font-size: 1.5em;
    width: 40px;
    height: 40px;
    border: solid 1px #00cb98;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    margin-left: 15px;
    vertical-align: middle;
    color: #282828;
    border-radius: 50%;
}

header #notifications-btn:hover, header #notifications-btn.active {
	background:#00cb98;
	color:#FFF;
	cursor:pointer;
}

header #user-info {
	display:inline-block;
	margin-left:15px;
	padding: 0 15px;
	margin-right: -15px;
}

header #user-info:hover {
	color:#173f73;
	background: #e6e6e6;
	cursor:pointer;
}

header #user-info.active {
	background: #e6e6e6;
}

#user-info #user-img {
	width:45px;
	height:45px;
	border-radius:50%;
	margin-right:10px;
}

#user-info #user-name {
	font-weight:700;
	margin-right:10px;
}

#menu-wrapper {
	height: 100% !important;
	min-height:100%;
	/* padding-bottom: 110px; */
}

#wrapper-inner {
	min-height:100%;
	/* padding-bottom: 100px; */
	position: relative;
}

#side-menu {
	position:fixed;
	top:60px;
	left:0;
	height:100% !important;
	background:#173f73;
	color:#FFF;
	padding:0;
}

#side-menu #menu-container {
	list-style-type:none;
	-webkit-padding-start: 0;
}

#side-menu #menu-container a {
	color:#FFF;
}

#side-menu #menu-container .menu-element {
	height:60px;
	line-height:60px;
	padding:0 15px;
	transition:all ease 0.2s;
}

#side-menu #menu-container .menu-element:hover {
	cursor:pointer;
	background:rgba(0,0,0,0.1);
	padding-left:20px;
}

#side-menu #menu-container .menu-element.active {
	position:relative;
}

#side-menu #menu-container .menu-element.active:before {
	content:'';
	position:absolute;
	width:4px;
	height:100%;
	background:#FFFFFF;
	left:0;
	top:0;
}

#side-menu #menu-container .menu-element span {
	font-size:1.2em;
	margin-right:10px;
}

#side-menu #menu-container .menu-element .icon-chevron-down {
	font-size:0.8em;
	margin-left:15px;
}

#side-menu #menu-container .dropdown {
	background:rgba(0,0,0,0.3);
	padding-left:30px;
}

#side-menu #menu-container .dropdown .menu-element:hover {
	background:rgba(0,0,0,0);
}

/* ===== */

#main-container {
	min-height:100% !important;
	padding:30px 15px;
	margin-top:60px;
	padding-bottom: 110px;
}

#main-container > .container {
	margin-bottom:30px;
}

.container.big, .container.big .box .box-content {
	height:100%;
}

.box-content {
	padding:15px;
	background:white;
	border-radius:10px;
	box-shadow:0 0 10px rgba(0,0,0,0.3);
}

.box-header {
	border-bottom:solid 1px #e6e6e6;
}

.box-header .back-btn {
	position:absolute;
	top:10px;
	left:10px;
	font-size:2em;
	color:red;
	opacity:0.7;
	transition:all ease 0.2s;
}

.box-header .back-btn:hover {
	opacity:1;
}

.box-body {
	overflow-y:auto;
}

.box .subtitle {
	margin-top:10px;
	font-weight:bold;
	font-size:1.1em;
}

.box .subtitle-table {
	margin-top:10px;
	font-weight:bold;
	font-size:1.1em;
	color:#173f73;
}

.box .subtitle.area {
	color:#173f73;
	font-weight:700;
	margin-top:0;
	font-size:1.2em;
}

/* ===== */

#form-bar {
  position:absolute;
  top:0;
  right:0;
  height:100%;
  background:#F0F0F0;
  box-shadow:-3px 0 15px rgba(0,0,0,0.2);
  padding:15px;
  padding-top: 60px;
  box-sizing:border-box;
  animation-name:slideOutRight;
  animation-duration:0.2s;
}

#form-bar.active {
  display:block;
  animation-name:slideInRight;
}

#form-bar .btn-close {
  position:absolute;
  top: 80px;
  right:15px;
  cursor:pointer;
  color: red;
  font-size: 1.5em;
}

#form-bar #formularios {
  height:calc(100% - 10px);
  overflow-y:auto;
  padding:0 40px;
}

#form-bar #formularios input, #form-bar #formularios select, #form-bar #formularios textarea {
  width:100%;
}

#form-bar #formularios button {
  width:170px;
  display:block;
  margin:0 auto;
  margin-top:40px;
}

#form-bar #formularios button.btn-cancel {
  margin-top:15px !important;
}

#form-bar #formularios button.btn-secondary {
  display:block;
  margin:0 0 15px auto;
}

/* ===== */

.box-header {

}

table {
	margin:15px 0;
}

tbody {
  width:100%;
  max-height:100%;
  height:auto;
  display:block;
}

.table-header {
  color:#173f73;
}

th {
  float:left !important;
  padding-bottom:15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

td {
  padding:5px 0;
  float:left !important;
  border-bottom:solid 1px #e6e6e6;
  height:32px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

tr[data-link]:hover {
	cursor:pointer;
	background:#e6e6e6;
}

tr:last-of-type td {
	border:none;
}

.task-id, .task-area, .task-status {
	font-style:italic;
}

.task-pay [class^="icon-cross"] {
	color:red;
}

.task-pay [class^="icon-checkmark"] {
	color:#173f73;
}

/* ===== */

.big-number {
	border-left:solid 5px #00cb98;
	margin:15px 0;
}

.big-number:first-of-type {
	border:none;
}

.big-number:hover .number, .big-number:hover .text{
	color:#00cb98;
}

.big-number .number {
	color:#282828;
	font-size:4em;
	font-weight:bold;
	display:block;
	margin:-15px 0;
	transition:all 0.2s ease;
}

.big-number .text {
	color:#282828;
	font-style:italic;
	transition:all 0.2s ease;
}

/* ===== */

.search-bar {
	width:100%;
}

.search-bar span {
	font-size:1.5em;
	vertical-align:middle;
}

.search-bar input {
	padding-left:10px;
	margin-right:10px;
	width:calc(100% - 60px);
	outline:none;
}

/* ===== */

.user-img {
	width:100px;
	height:100px;
	display:block;
	background:gray;
	border-radius:50%;
	margin:0 auto;
	margin-bottom:10px;
}

.info-table {
	list-style-type:none;
	margin:0;
	padding:0;
}

.info-table .table-title {
	font-weight:700;
	display:inline-block;
	width:75px;
}

.info-table [class^="col-"] {
	padding:0;
}

.info-table .table-title.large, .info-table .table-title.large + span {
	width:auto;
}

.info-table.large .table-title {
	width:150px;
}

.info-table .table-title + span {
	width:90px;
	display:inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.info-table input {
	width:calc(100% - 200px);
}

/* ===== */

.taskkero-box {
	margin:15px 0;
}

.taskkero-name {
	font-weight:700;
	font-style:italic;
	margin:0;
}

.taskkero-img {
	width:80px;
	height:80px;
	border-radius:50%;
	background:gray;
}

.taskkero-stars img {
	height:20px;
	margin:5px 0;
}

.task-date {
	font-size:0.9em;
}

.task-price {
	display:block;
	font-size:1.3em;
	color:#00cb98;
	font-style:italic;
	font-weight:700;
	margin-bottom:5px;
}

/* ===== */

.task-details {
	margin:10px 0;
}

.task-details .title {
	font-weight:700;
	font-size:1.1em;
	display:block;
}

.task-details .detail {
	font-style:italic;
	text-align:center;
	overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
}

.task-details .detail.cost {
	font-weight:700;
	color:#00cb98;
}

/* ===== */

.chat-box {
	margin-top:15px;
}

.chat-bar {
	width:100%;
}

.chat-bar span {
	font-size:1.5em;
	vertical-align:middle;
}

.chat-bar input {
	padding-left:10px;
	margin-right:10px;
	width:calc(100% - 60px);
	outline:none;
}

.chat-bar textarea {
	padding-left:10px;
	outline:none;
	width:100%;
}

.chat-bubble {
	padding:15px;
	max-width:300px;
	text-align:left;
	background:#e6e6e6;
	border-radius:10px;
}

.chat-bubble.self {
	background:#00cb98;
	color:#FFF;
	float:right;
}

.chat-bubble.self .bubble-header {
	border-color:#009973;
}

.chat-bubble.self .bubble-header .bubble-time {
	color:#FFF;
}

.bubble-header {
	border-bottom:solid 1px #b4b4b4;
	padding-bottom:5px;
	margin-bottom:5px;
}

.bubble-header .bubble-name {
	font-weight:700;
}

.bubble-header .bubble-time {
	font-size:0.8em;
	font-style:italic;
	color:#b4b4b4
}

/* ===== */

.lil-section {
	margin-bottom:30px;
}

input, select {
	border:none;
	border-bottom:solid 1px #818181;
	padding:5px;
	margin-bottom:10px;
}

input[type="file"] {
	display:inline-block;
}

textarea {
	border-radius:10px;
	border:solid 1px #818181;
	padding:5px;
	margin-bottom:10px;
	resize:none;
	height:130px;
	vertical-align:top;
}

.divider {
	width:60%;
	display:block;
	margin:5px auto;
	margin-bottom:15px;
	border-bottom:solid 1px #b4b4b4;
}

/*====*/

.popOver {
	background:white;
	width: 260px;
	box-shadow:0 0 10px rgba(0,0,0,0.3);
	padding:15px;
	text-align:center;
	position:fixed;
	top:61px;
	z-index:1;
	display:none;
	transition:all ease 0.2s;
	animation-duration:0.2s;
}

.popOver.md {
	width:210px;
}

.popOver#minimenu {
	right:0px;
}

.popOver#notifications {
	right:210px;
}

.popOver.activePopOver {
	display:block;
}

.popOver h3 {
	margin-bottom:20px;
	font-weight:bold;
}

.popOver .dismiss {
	position:absolute;
	top:10px;
	right:10px;
	color:red;
	font-size:1.5em;
}

.popOver .dismiss:hover {
	cursor:pointer;
}

.dismiss {
	position:absolute;
	top:10px;
	right:10px;
	color:red;
	font-size:1.5em;
}

.dismiss:hover {
	cursor:pointer;
}

form .label-title {
	display:block;
	text-align:left;
	margin-left:6%;
	margin-top:10px;
}

form label {
	margin-left:-20px;
	font-size:1.3em;
	vertical-align:middle;
	height:22px;
	color:#173f73;
}

form input, form select, form textarea {
	width:80%;
}

.login button, .login a.button {
	width:80%;
	margin-bottom:10px;
}

#minimenu ul {
	list-style-type:none;
	text-align:left;
	margin:0;
	padding:0;
}

#minimenu ul a {
	color:#282828;
}

#minimenu ul li {
	height:40px;
	line-height:40px;
	border-bottom:solid 1px #e6e6e6;
}

#minimenu ul li:hover {
	background:#f0f0f0;
	cursor:pointer;
	color:#00cb98;
}

#minimenu ul li:last-of-type {
	border:none;
}

/**/

.notifications-btn-cont {
	position:relative;
}

.notifications-btn-cont .notifications-count {
	width:20px;
	height:20px;
	line-height:20px;
	background:red;
	color:#FFF;
	border-radius:50%;
	position:absolute;
	top:-12px;
	right:0;
	text-align:center;
	font-size:0.7em;
}

#notifications ul {
	list-style-type:none;
	text-align:left;
	margin:0;
	padding:0;
	max-height:300px;
	overflow-y:auto;
}

#notifications ul li {
	padding-top:10px;
	height:80px;
	border-bottom:solid 1px #e6e6e6;
}

#notifications ul li:hover {
	cursor:pointer;
	background:#f0f0f0;
}

#notifications ul li.active {
	color:#00cb98;
}

#notifications ul li i {
	font-size:0.8em;
	color:#b4b4b4;
}

#notifications ul li:last-of-type {
	border:none;
}

/*====*/

#home {
	background:#e4e4e4;
	width:100%;
	height:100vh;
}

#home .info {
	padding-top:150px;
}

#home .info h1 {
	color:#00cb98;
}

#home .info p {
	text-align:justify;
	font-size:1.2em;
}

#home .info button {
	display:block;
	margin:0 auto;
	margin-top:40px;
}

/*====*/

#about {

}

#about .brandText {
	color:#00cb98;
	font-style:italic;
}

#about .info {
	font-size:1.2em;
	text-align:justify;
	text-align-last:center;
}

#about #benefits {
	margin:60px 0;
}

#about #benefits .item {
	margin-bottom:30px;
}

#about #benefits .item span[class^="icon"] {
	font-size:5em;
	color:#00cb98;
}

#about #benefits .item p {
	margin-top:30px;
}

/*====*/

#taskkeros {
	background-color:#00cb98;
	background-image:url(../img/taskkero_bg.png);
	background-size:cover;
	background-position:center 10%;
	color:#FFF;
}

#taskkeros .texts {
	margin-top:40px;
	margin-bottom:90px;
}

#taskkeros .texts p {
	font-size:1.3em;
	text-align:justify;
	text-align-last:right;
}

#taskkeros .texts p .brandText {
	font-weight:bold;
	font-style:italic;
}

#taskkeros .texts button {
	margin:30px 0;
}

/*====*/

#comments .brandText {
	color:#00cb98;
	font-style:italic;
	font-weight:bold;
}

#comments .carousel {
	margin-top:60px;
	transition:all ease 1s;
}

.multi-item-carousel .carousel-inner > .item {
  transition: 500ms ease-in-out left;
}
.multi-item-carousel .carousel-inner .active.left {
  left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {
  left: 33%;
}
.multi-item-carousel .carousel-inner .next {
  left: 33%;
}
.multi-item-carousel .carousel-inner .prev {
  left: -33%;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .item {
    transition: 500ms ease-in-out left;
    transition: 500ms ease-in-out all;
    backface-visibility: visible;
    transform: none!important;
  }
}
.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
  background-image: none;
}

#comments .item .slide {
	text-align:center;
	margin-bottom:30px;
}

#comments .item .slide .photo {
	width:90px;
	height:90px;
	border-radius:50%;
	background:gray;
	display:block;
	margin:0 auto;
	border:none;
}

#comments .item .slide .stars {
	display:block;
	margin:10px auto;
	width:100%;
	height:30px;
	background-repeat:no-repeat;
	background-position:center center;
}

#comments .item .slide .stars.zero {
	background-image:url(../img/stars0.png);
}
#comments .item .slide .stars.one {
	background-image:url(../img/stars1.png);
}
#comments .item .slide .stars.two {
	background-image:url(../img/stars2.png);
}
#comments .item .slide .stars.three {
	background-image:url(../img/stars3.png);
}
#comments .item .slide .stars.four {
	background-image:url(../img/stars4.png);
}
#comments .item .slide .stars.five {
	background-image:url(../img/stars5.png);
}

#comments .item .slide .userName {
	font-size:1.2em;
	font-weight:bold;
}

#comments .item .slide p {
	font-size:0.9em;
	margin-top:10px;
	text-transform:lowercase;
}

/*====*/

#questions {
	background:#e4e4e4;
}

#questions .brandText {
	font-weight:bold;
	font-style:italic;
	color:#00cb98;;
}

#questions #questionsBlock {
	margin:60px 0;
	-moz-column-width: 25em;
	-webkit-column-width: 25em;
	-moz-column-gap: 1em;
	-webkit-column-gap:1em; 
}

#questions #questionsBlock h3 {
	text-align:left;
	font-weight:700;
}

#questions #questionsBlock .itemCont {
	margin-bottom:15px;
	display: inline-block;
	padding:  .33rem;
	width:  100%; 
	float:none;
}

#questions #questionsBlock .item {
	background:white;
	box-shadow:0 0 3px rgba(0,0,0,0.3);
	border-radius:15px;
	padding:15px;
	position:relative;
	display: block;
}

/*====*/

footer {
	padding:10px;
	background:#293140;
	position: absolute !important;
	bottom:0;
	width:100%;
	color:#FFF;
	font-size:0.9em;
	height: 110px;
}

footer a {
	color:#FFF;
}

footer a:hover {
	text-decoration:underline !important;
}

footer hr {
	margin-bottom:10px;
	margin-top:10px;
	border-color:#333e50;
}

footer i {
	font-size:1.6em !important;
	margin:0 5px;
	transition:all ease 0.1s;
	color:#b4b4b4;
}

footer i:hover {
	cursor:pointer;
	color:#FFF;
}

/*====*/

#loginView .loginContainer {
	margin-top:60px;
	background:white;
	box-shadow:0 0 10px rgba(0,0,0,0.1);
	padding:15px;
	border-radius:15px;
}

.loginContainer h3 {
	margin-bottom:60px;
}

/*====*/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

	#loginView .loginContainer {
		padding:15px 60px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	#home .info {
		padding-top:100px;
	}

	.showcase img {
		width:230px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.navbar-default {
		background-color:white;
		box-shadow:0 3px 3px rgba(0,0,0,0.1);
		padding:0;
	}

	.navbar-brand {
		padding:10px 15px;
	}

	#home .info {
		padding-top:50px;
	}

	#taskkeros {
		background-image:none;
	}

	#homeSlide .item {
		text-align:left;
	}
	
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {


}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}

.active > div { display:none; }
.active > div:first-child { display:block; }

/*xs*/
@media (max-width: 767px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		     { left: -50%; }
  .carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		     { left: -50%; }
  .carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-inner .active.left { left: -33%; }
  .carousel-inner .active.right { left: 33%; }
	.carousel-inner .next        { left:  33%; }
	.carousel-inner .prev		     { left: -33%; }
  .carousel-col                { width: 33%; }
	.active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
}

/*lg*/
@media (min-width: 1200px) {
  .carousel-inner .active.left { left: -25%; }
  .carousel-inner .active.right{ left:  25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		     { left: -25%; }
  .carousel-col                { width: 25%; }
	.active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
	.active > div:first-child + div + div + div { display:block; }
}


.col-